body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(70, 58, 144);
    justify-content: center;
    padding:40px;
    display:flex;

}

.container {
    background: linear-gradient(135deg, #4c1c76, #9cabe0);
    padding: 40px 30px 70px;
    border-radius: 10px;
    width:100%;
    max-width: 500px;
    margin: 100px auto 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}
.container h1{
    color: black;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    display: flex;
    margin-bottom: 20px;
}

.container h1 img{
    width:50px;
    margin-left:20px;

}
.input-section {
    display: grid;
    gap: 10px;
}

#task-input {
    padding: 5px;
    border-color: black;
    border-radius: 10px;;
    border-width: 2px;
    color:  black;
    font-size: large;
}

#add-task{
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: large;
}

.filters{
    margin: 20px 0;
    display:flex;
    justify-content: space-between;
}

.filter-btn {
    padding: 6px 12px;
    border:black;
    border-radius: 100%;
    cursor:pointer;
    color:white;
    background-color: blue;
}

ul{
    list-style:;
    padding: 10;
}

li {
    display: flexbox;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid darkgray;
}

.completed span {
    text-decoration: line-through;
    color: gray;
  }
  
  .task-buttons {
    display: flex;
    gap: 8px;
    margin-left: auto;
  }